html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: rgba(255, 165, 0, 0.5);
}

#grid { 
    margin: 3% 10% 0 0;
    width: fit-content;
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    right: 0;
    box-shadow: 2px 6px 10px -4px #000000;
    border-collapse: collapse;
}

.row {
    display: flex;
}


.col {
    border: 0.5px solid rgb(233, 232, 232); 
    background-color:white;
    border-collapse: collapse;
    box-shadow: 2px 6px 10px -4px #000000;
}

#buttons {
    position: fixed;
    width: 25%;
    margin: 10% 0 0 10%; 
    align-self: center;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
} 

.slide-container {
    width: 100%;
}

.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 40%;
    height: 22px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    border-radius: 15px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #4CAF50; 
    cursor: pointer; 
    border-radius: 50%;
}

#user-input {
    display: flex;
    flex-direction: row;
}

#user-color {
    height: 40px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-family: monospace;
    padding: 0 13px 0 13px;
}

button{
    display: block;
    left: 0;
    margin: 0 0 10% 0;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-family: monospace;
    padding: 0 15px 0 15px;
} 

button:hover {
    cursor: pointer;
}

#reset {
    background-color: cornsilk;
}

#rgb {
    color: white;
    background-image: linear-gradient(45deg, red, green, blue);
}

#grayscale {
    color: white;
    background-image: linear-gradient(45deg, rgb(200, 200, 200), rgb(150, 150, 150), rgb(100, 100, 100));
}

#user-color-set {
    background-color: lightblue;
    border: 1px solid black;
}

h1 {
    font-family: monospace;
    margin: 0 0 2% 10%;
    font-size: 35px;
    color: #087099;
    text-decoration: underline;
    text-decoration-style: wavy;
}

p {
    margin: 0 0 0 13%;
    padding: 10px;
    font-family: monospace;
    font-size: 20px;
}